/*HTML5*/

article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
    margin: 0;
    padding: 0;
    display: block;
}


/*RESET
-------------------------------------------------------------- */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
pre,
code,
form,
button,
fieldset,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

del,
ins {
    text-decoration: none;
}

caption,
th {
    text-align: left;
}

input,
button,
textarea,
select {
    font-size: 100%;
    border: none;
    outline: none;
}
button {
    outline: none;
    &:active {
        background: @mainColorHover;
    }
}
q:before,
q:after {
    content: '';
}

addr,
acronym {
    border: 0;
    font-variant: normal;
}

sup,
sub {
    vertical-align: baseline;
}

body {
    color: @blackColor;
    font: 16px/1.5 '微软雅黑',YaHei,tahoma,arial,"Hiragino Sans GB";
    padding-top: 70px;
}

a {
    text-decoration: none;
    color: @greyColor;
}

h3,h4 {
    font-weight: normal;
}

.clear {
    clear: both;
}
.wrapper {
    width: @wrapperWidth;
    margin: 0 auto;
}

.main-banner {
    height: 300px;
    line-height: 300px;
    color: #fff;
    font-size: 42px;
    text-align: center;
    background: url() no-repeat center;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}
.bg-body {
    background: @greyBgColor;
}