//ui 给的主要颜色 --sart--
@mainColor: #0075c5;
@mainColorHover: #088ae2;
@lightgreyColor: #999;
@greyColor: #666;
@blackColor: #333;
@disabledColor: #ccc;
@errorColor: #f81e3d;
@greyBtnColor: #63636b;
@greyBtnColorHover: #494951;
@borderColor: #cccccc;
@greyBgColor: #f5f5f5;
@orangeColor: #f38000;
@pinkColor: #07c9d0;
@pinkColorHover: #c30c70;
@disabledBgColor: #ddd;
@disabledFontColor: #b6b6b6;
@darkGreyBgColor: #eee;
@lightGreyColor: #999;
@errorBgColor: #fff4f4;
@successColor: #03c415;
@cancelBtnColor: #ddd;
@cancelBtnColorHover: #ccc;
//--end--
@wrapperWidth: 1200px;
@headerHeight: 70px;
@sliderWidth: 230px;
@remScale: 20rem;
