.index-container {
	padding: 45px 0;
	&.index-container-1 {
		background: @greyBgColor;
		&.en {
			display: none;
		}
		.title-box {
			margin-bottom: 40px;
		}
	}
	.title-box {
		text-align: center;
		background: url(/static/images/multi/entries/index/images/title-car.png) no-repeat center 29px;
		h3 {
			font-size: 30px;
		}
		p{
			font-size: 14px;
			color: @lightgreyColor;
			text-indent: 26px;
		}
	}
	.content-box {
		.first-page {
			overflow: hidden; 
			padding-top: 30px;
			width: 1055px;
			margin: 0 auto;
			&>li {
				float: left;
				width: 335px;
				margin-right: 24px;
				h4 {
					line-height: 60px;
					height: 60px;
					text-align: center;
					color: #fff;
					font-size: 20px;
					background: @mainColor url(/static/images/multi/entries/index/images/icon-feiji.png) no-repeat 10px center;

				}
				img {
					width: 100%;
					vertical-align: middle;
				}
			}
			&>li.two{
				h4 {
					background-image: url(/static/images/multi/entries/index/images/icon-huoche.png);
				}
			}
			&>li.three{
				margin-right: 0;
				h4 {
					background-image: url(/static/images/multi/entries/index/images/icon-kuaidi.png);
				}
			}
		}
		
		
		.second-page {
			overflow: hidden;
			&>li {
				float: left;
				width: 238px;
				border-right: 1px solid @borderColor;
				text-align: center;
				padding: 20px 0;
				position: relative;
				.isMask {
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					background: rgba(0,0,0,.5);
					color: #fff;
					font-size: 14px;
					display: none;
					.mask-inner {
						text-align: left;
						width: 90%;
						display: inline-block;
						vertical-align: middle;
						height: auto;
					}
					&::after {
						content: '';
						vertical-align: middle;
						display: inline-block;
						height: 157px;
					}
				}
				// background: url(/static/images/multi/entries/index/images/icon-ditu.png) no-repeat center 20px;
				.img-box {
					height: 90px;
				}
				img {
					width: 80px;
					vertical-align: middle;
				}
				h4 {
					font-size: 18px;
				}
				&.three, &.six {
					// border-right: 0;
				}
				&.five,&.two,&.three {
					// border-bottom: 1px solid @borderColor;
					.img-box {
						padding-top: 10px;
						height: 80px;
					}
				}
				&.two {
					// background-image: url(/static/images/multi/entries/index/images/icon-shixiao.png);
					background-position: center 30px;
				}
				&.three {
					// background-image: url(/static/images/multi/entries/index/images/icon-fuwu.png);
					background-position: center 10px;
				}
				&.four {
					// background-image: url(/static/images/multi/entries/index/images/icon-kefu.png);
				}
				&.five {
					// background-image: url(/static/images/multi/entries/index/images/icon-shouhou.png);
					// background-position: center 40px;
					border-right: 0;
				}
			}
		}

		.third-page {
			padding-top: 20px;
			.up-box {
				img{
					width: 100%;
				}
				background: @greyBgColor;
				padding: 10px 20px;
			}
			.sub-banner-box {
				position: relative;
				height: 700px;
				ul {
					li {
						position: absolute;
						left: 0;
						top: 0;
						display: none;
					}
				}
				.banner-btn {
					width: 40px;
					height: 60px;
					position: absolute;
					cursor: pointer;
					top: 50%;
					margin-top: -60 / 2px;
					background: rgba(0,0,0,.3) url(/static/images/multi/entries/index/images/icon-left-arrow.png) no-repeat center;
					&:hover {
						background-color: rgba(0,0,0,.8);
					}
				}
				#leftBtn {
					left: 0;

				}
				#rightBtn {
					right: 0;
					background-image: url(/static/images/multi/entries/index/images/icon-right-arrow.png);
				}
			}
		}
	}
}