@import '../../../core/less/variables.less';
@chooseHeight: 24px;
.header{
	position: fixed;
	left: 0;
	right: 0;
	top:0;
	background: #fff;
	height: @headerHeight;
	box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
	z-index: 999;
	.wrapper{
		&>ul {
			height: @headerHeight;
			float: left;
			&>li {
				line-height: @headerHeight;
				height: @headerHeight;
				float: left;
				width: 139px;
				text-align: center;
				cursor: pointer;
				position: relative;
				&>a {
					display: block;
				}
				&.cur, &:hover{
					&>a{
						background: @mainColor;
						color: #fff;
					}
				}

				&>ul.nav-slider{
					position: absolute;
					background: #fff;
					left: 0;
					top: @headerHeight;
					box-shadow: 0 0 1px 0 rgba(0,0,0,.3);
					padding: 10px 0;
					width: 100%;
					display: none;
					li {
						line-height: 40px;
						
						a {
							display: block;
							color: @mainColor;
						}
						&:hover {
							a {
								background: @mainColor;
								color: #fff;
							}

						}
					}
				}

				&:hover {
					&>ul.nav-slider{
						display: block;
					}
				}
			}
		}
		.choose-lang{
		  	margin-left: 10px;
		    padding-top: 23px;
		    float: left;
		    cursor: pointer;
		    .choose-lang-inner{
		    	height: @chooseHeight;
		    	overflow: hidden;
		   		border-radius:  @chooseHeight;
		   		width: 54px;
		   		padding: 2px 10px;
				line-height: @chooseHeight;
		    	border: 1px solid @mainColor;
		    	&:hover{
		    		overflow: auto;
		    		height: @chooseHeight * 2;
		    	}
		    }
		    select{
		    	font-size: 14px;
		    	width: 64px;
		    	padding-left: 4px;
		    	text-align: center;
		    	border: 1px solid @mainColor;
		    	height: @chooseHeight;
		    	border-radius:  @chooseHeight;
		    }
		}
	}

	&.en {
		.wrapper {
			>ul {
				>li {
					font-size: 12px !important;
				}
			}
		}
	}
}