@import '../../../core/less/variables.less';
@import '../../logics/indexContainer/style.less';

body {
	padding-top: 80px;
}
.banner-box {
	height: 560px;
	background: url(/static/images/multi/entries/index/images/index-banner-1.jpg) no-repeat center;
	position: relative;
	.search-box {
		position: absolute;
		left: 50%;
		bottom: 0;
		margin-left: -400px;
		width: 800px;
		input {
			width: 800px - 192px;
			height: 78px;
			line-height: 78px;
			font-size: 24px;
			padding-left: 10px;
			background: #eeecec;
			float: left;
		}
		button {
			float: left;
			width: 180px;
			font-size: 24px;
			height: 80px;
			background: @mainColor;
			cursor: pointer;
			color: #fff;
		}
	}
}
.sub-box {
	padding-top: 20px;
	background: @greyBgColor;
	img {
		vertical-align: middle;
	}
}
.index-container-2 {
	padding-bottom: 0;
}
.footer-banner {
	height: 450px;
	margin-top: 30px;
	background: url(/static/images/multi/entries/index/images/index-footer-banner-1.jpg) no-repeat center;
}