@import '../../../core/less/variables.less';
// @import '../../../libs/ueditor/themes/default/css/umeditor.min.css';

#edui3_body {
	display: none;
}

.edui-container {
	width: auto !important;

  #myEditor {
    width:  auto !important;
  }
}
