@import '../../../core/less/variables.less';
.s-main-banner {
	height: 380px - 125px;
	background: url(/static/images/multi/entries/search/images/s-main-banner.jpg) no-repeat center;
	text-align: center;
	vertical-align: middle;
	padding-top: 125px;
	.search-box {
		display: inline-block;
		width: 800px;
		input {
			width: 800px - 194px;
			height: 74px;
			line-height: 74px;
			font-size: 24px;
			padding-left: 10px;
			background: #eeecec;
			float: left;
			border: 2px solid @mainColor;
			border-right: 0;
		}
		button {
			float: left;
			width: 180px;
			font-size: 24px;
			height: 80px;
			background: @mainColor;
			cursor: pointer;
			color: #fff;
			&.disabledStyle {
	            background: @mainColorHover;
	            cursor: wait;
	            &:hover {
	                background: @mainColorHover;
	            }
	            span {
	                display: inline-block;
	                vertical-align: middle;
	                i {
	                    display: inline-block;
	                    font-size: 24px;
	                }
	                i:first-child {
	                    animation: loading 1s 0s linear infinite;
	                }
	                i:nth-child(2) {
	                    animation: loading 1s 0.3s linear infinite;
	                }
	                i:last-child {
	                    animation: loading 1s 0.6s linear infinite;
	                }
	            }
	        }
		}
	}
}
.search-result {
	h2 {
		font-size: 20px;
		text-align: center;
		margin: 20px 0;
	}
	.search-detail {
		background: #fff;
	    margin-bottom: 30px;
	    padding: 20px;
	    text-align: left;
	    padding-left: 60px;
	    min-height: 120px;
	    >table {
	    	width: 500px;
	    	display: inline-block;
	    	td {
	    		width: 400px;
	    		padding: 15px;
	    		border-bottom: 1px solid @borderColor;
	    		&:first-child {
					width: 100px;
	    		}
	    	}
	    	&:first-child {
	    		margin-right: 5%;
	    	}
	    }
	    >ul {
	    	display: inline-block;
	    	&:first-child {
	    		margin-right: 20px;
	    	}
	    }
	}
}

@keyframes loading {
    00% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-4px);
    }
    100% {
        transform: translateY(0px);
    }
}